# Java
*.class
*.jar
*.war
*.ear

# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/
.history/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Environment
.env

# Jupyter
.ipynb_checkpoints/

# Others
node_modules/
